html,body{
  margin: 1px;
  font-family: 'Lato', sans-serif;
}
a:visited{
  color: inherit !important;
  text-decoration: none;
}
.no-margin{
  margin: 15px;
}
.be-red{
  background-color: #CC4452;
}
.white{
  color: #f9efd0;
}
.large-padding{
  padding: 15px 10px;
}
.menu{
  background-color: #730E15;
}